
body{
    margin: 0;
}

div[name=background], .forgotPasswordForm{
    padding-top: 10em;
}

.nav.nav-tabs {
    border-bottom: none;
    margin-left: -1em;
}

button.btn.btn-default.custom:hover {
    background: white;
    color: red;
    box-shadow: red 1px 1px;
}

button.btn.btn-lg.btn-primary.custom:hover {
    box-shadow: orange 1px 1px;
}

.bookARoomPage .container {
    margin-left: 0;
    width: 100%;
}


.inputField{
    margin: 1em 0;
}

.room {
    height: 25em;
    background: url('/src/client/images/blue.jpg');
    color: lightskyblue;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
}

.hoursTable{
    height: 53em;
    /*background: url('/src/client/images/pattern_40.gif');*/
    background: #f5f5f5;
    /*color: white;*/
    color: rgb(51, 51, 51);
    height: 400px;
    overflow: auto;
    border-radius: 3px;
}

.hourLine{
    border-top: 1px solid black;
    margin-top: 5em;
}

.hourLabel{
    position: absolute;
    top: -23px;
}



.myProfilePage .container.pageContent{
    padding-top: 5em;
}


.myProfilePage .details{

margin-top: 5em;

}


.myProfilePage .details .row{
    margin-top: 1em;
}

.myProfilePage .row.submitChangesButton{

    margin-top: 5em;

}

/* Animation for and line hours */


.content {
    margin: 0;
    position: relative;
    float: left;
    font-size: 12px;
    line-height: 2em;
    padding: 30px 0 30px;
}

.col {
}

#skill {
    list-style: none;
    padding-top: 30px;
    padding-left:0;
}

#skill li {
    margin-bottom: 70px;
    /*background: #000;*/
    height: 5px;
    border-radius: 3px;
    /*border-left: 1px solid #111;*/
    /*border-top: 1px solid #111;*/
    /*border-right: 1px solid #333;*/
    /*border-bottom: 1px solid #333;*/
    width: 300px;
    position: relative;
}

#skill li em {
    position: relative;
    top: -30px;
}


.expandParent {
    height: 1px;
    margin: 2px 0;
    /*background: #2187e7;*/
    background: white;
    position: absolute;
    /*box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);*/
    /*box-shadow: 0px 0px 10px 1px white;*/
    width: 300px;
}

.expand, .expandChild {
    height: 1px;
    margin: 2px 0;
    background: #2187e7;
    position: absolute;
    /*box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);*/
    width: 300px;
    background: none;
}

.expandChild.quikfox{
    background: #FF9900
}

.expandChild.quikfoxServices{
    background: #a7a9ac
}

.expandChild.stamford{
    background-color: #ffa526;
}

.expandChild.akros{
    background-color: #d5002d
}

.expandChild.frox{
    background-color: #1f60ad
}



.expandChild.private{
    background-color: #ff6699;
}



.expand {
    top: -10px;
    height: 20px;
}

.expandParent.durationParent{
    /*background-color: rgb(85, 159, 255);*/
    background-color: white;
    height: 3px;
}

.expandChild{
    width: 100%;
    /*background: #2187e7;*/
    position: absolute;
    top: 5px;
    height: 4px;
    border-left: 1px solid white;
    background-color: rgb(85, 159, 255);
    border-radius: 3px;
}

.expand:hover .expandChild, .expand.hover .expandChild{
    height:10px;
    border-radius: 3px;
}

.hr10, .hr10-2, .hr10-3,
.hr13, .hr13-2, .hr13-3,
.hr16, .hr16-2, .hr16-3{

    position: relative;
    width: 300px;
}


.hr10-2,
.hr13-2,
.hr16-2 {
    /*margin-left: 100px;*/
}

.hr10-3,
.hr13-3,
.hr16-3
{
    /*margin-left: 200px;*/
}

.duration{

}


.comments {
    margin-top: 2em;
}

.bookBtnCol button{
    font-weight: 500;
    background: none;
    border-color: white;
}

.bookBtnCol button:hover{
    background-color: rgba(56, 87, 138, 0.941176);
}


.bookARoomPage, .myProfilePage{
    margin-top: -10em;
    padding-right: 1em;
}

.bookARoomPage > .col-sm-12{
    padding-right: 0;
}

.bookARoomPage{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/*Calendar*/


.ReactVirtualized__Grid.ReactVirtualized__List.Cal__List__root{
    border-radius: 3px;
}

.calendarColumn{
    margin-top: 43px;
}


.calendarColumn .Cal__Container__root{
    width: 100% !important;
}

.calendarColumn>div{
    width: 100%;
}

.roomNumberCol{
    color: white;
    letter-spacing: 2px;
}

.roomDateRow{
    font-weight: 500;
    font-size: 1.2em;
    font-style: italic;
}

.bookingRefRow{
    margin-top: 3em;
}

.bookingHoursRow{
    font-weight: bolder;
    font-size: 2em;
}

.deleteBtnRow{
    margin-top: 1em;
}

.deleteBtnRow button{
    background: none;
    color: white;
    font-weight: 400;
}


.footer{
    bottom: 0;
    /*background-color: rgb(68, 138, 255);*/
    color: rgb(255, 255, 255);
    width: 100%;
    left: 0;
    height: 2em;
    margin-top: 5em;
    border-radius: 3px;
    color: white;
    font-weight: 400;
    background-color: darkgrey;
}


/* Hours selection modal */

.modal-content{
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
}


.modal-title, .modal-content h4, .modal-content label{
   font:  1.4em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.modal-content label{
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
}




.ccRequired {
    color: #F7751F;
}


.timepicker-bubble:hover circle, .timepicker-bubble.active circle{
    fill: lightcoral;
}


.bookingRefFiledContent{
    font-weight: bold;
    font-size: 1.2em;
}